eureka:
  client:
    fetch-registry: false
    register-with-eureka: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka
  instance:
    hostname: localhost
  server:
    wait-time-in-ms-when-sync-empty: 30
server:
  port: 8761
spring:
  application:
    name: bnkregserver
